.App {
  text-align: left !important;
}

.navigation-bar-header{
  background-color: black;
  color: orange;
  font-size: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.Nav{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th {
  border: 2px solid orange !important;
  color: orange;
  padding: 5px;
  font-size: 20px;
}
td {
  border: 2px solid orange !important;
  color: orange !important;
  font-size: 20px;
}

.login {
  background-color: #2F2F30;
  font: orange;
  height: 95vh;
}

.portfolio {
  background-color: #2F2F30;
  font: orange;
  height: 150vh;

}

.text-orange {
  color: 20px orange;
}

.buy {
  text-align: left;
  font-size: 20px;
}

.sell {
  text-align: left;
  font-size: 20px;
}

.signup {
  background-color: #2F2F30;
  color: orange;
  height: 95vh
}


.chart {
  background-color: orange;
  box-sizing: border-box;
  margin: 90px;
  /* border: 12px solid #2F2F30; */
}


