.App {
  text-align: left !important;
}

.navigation-bar-header{
  background-color: black;
  color: orange;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  display: flex;

  align-items: center;
  justify-content: right;
}

.Nav{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-pointer1 {
  cursor: pointer;
  margin-top: 15px;
}

table {
  border-collapse: collapse;
}

th {
  border: 2px solid orange !important;
  color: orange;
  padding: 5px;
  font-size: 20px;
}
td {
  border: 2px solid orange !important;
  color: orange !important;
  font-size: 20px;
}

.login {
  background-color: #2F2F30;
  height: 80vh;
}

.portfolio {
  background-color: #2F2F30;
  font: orange;
  height: 100vh;

}

.text-orange {
  color: 20px orange;
}

.buy {
  text-align: left;
  font-size: 20px;
}

.sell {
  text-align: left;
  font-size: 20px;
}

.sellButton {
  margin-left: 200px;
}

.buyButton {
  margin-left: 200px;
}

.signup {
  background-color: #2F2F30;
  color: orange;
  height: 80vh;

}

.chart {
  background-color: #FFA500;
  box-sizing: border-box;
  margin: 90px;
  /* border: 12px solid #2F2F30; */
}

.signupButton {
  margin-top: 20px;
}

.scoreboard {
  background-color: #2F2F30;
  height:80vh;
  border-style: solid;
  border-color: #FFA500;
  display: flex;
  justify-content: space-around;
}

