.App {
  text-align: center;
}

.navigation-bar-header{
  background-color: black;
  color: orange;
  font-size: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.Nav{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th {
  border: 2px solid orange !important;
  color: orange;
  padding: 5px;
  font-size: 20px;
}
td {
  border: 2px solid orange !important;
  color: orange !important;
}

.login {
  background-color: rgba(65, 62, 62, 0.375);
}

.portfolio {
  background-color: 	#5A5A5A;
  font: orange;
}

.text-orange {
  color: 20px orange;
}
